.homepage-button {
    height: 20em;
    width: 20em;
    border-radius: 1em;
    background-color: white;
    padding : 1em;
    margin: 1em;
    box-shadow: 0px 0px 7px 0px #555;
    text-decoration: none;
    color: black;
}

.homepage-button:hover {
    padding-bottom: 1.5em;
}